[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "*"
django-filter = "*"
tzdata = "*"
typing-extensions = "*"
pyyaml = "*"
pymysql = "*"
cryptography = "*"
django-cors-headers = "*"
isort = "*"
autoflake = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
